.header_cards {
  font-family: Lato;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 4rem 0;
  flex: 1 33.3%;
}

.card {
  width: 400px;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

/* .card figure img {
  width: 100%;
} */

figure {
  margin-bottom: 1rem;
  position: relative;
}

.image-box {
  position: relative;
}

.figcaption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.image1 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.image2 {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}


.data {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}

.card .btn {
  border-radius: 9px;
  border: none;
  padding: 5px 25px;
  font-family: Open Sans;
  background: #b93857;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}

.card figure {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.card .basket {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}

.text {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
}

.alla {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(10, 132, 110, 1);
  color: #fff;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  width: 25%;
  padding: 12px 15px;
  margin: 0 auto;
}
