form {
  display: grid;
  margin: 20px 40px 60px;
  gap: 1.5rem;
  align-items: center;
}

h2 {
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  margin-left: 40px;
}

.submit {
  background-color: #0a846e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  margin: 0 auto;
  width: 25%;
  padding: 12px 15px;
}

.submit:hover {
  background-color: #45a049;
}

label {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  float: left;
  cursor: default;
}
label:after {
  content: ": ";
}

input {
  box-shadow: 3px 3px 5px grey;
  font-size: 14px;
  border: 1px solid #f4f4f4;
  background-color: #fff;
  border-radius: 5px;
  margin: 0;
  padding: 10px 20px;
}

@media screen and (max-width: 760px) {
  .submit {
    padding: 2px 15px;
    font-size: 15px;
    width: 30%;
  }
}
