* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  color: #055647;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  color: #182522;
}
